.mt-4.container
  %nav.mb-3{"aria-label" => "breadcrumb", :role => "navigation"}
    %ol.breadcrumb
      %li.breadcrumb-item
        = link_to "书籍管理", admin_books_path
      %li.breadcrumb-item.active{"aria-current" => "page"}= @book.title
  .mb-4.card.border-light
    .card-body
      %h2.card-title= @book.title
      .text-secondary.card-text
        = simple_format @book.description
      %p
        = link_to edit_admin_book_path(@book), :class => "btn btn-secondary" do
          编辑基本信息
  .card
    .card-header
      %ul.nav.nav-tabs.card-header-tabs.sortable-head.volume-list
        - @volumes.each do |volume|
          %li.nav-item.position-relative
            = link_to admin_book_volume_path(@book, volume), :class => @volume.id == volume.id ? "nav-link volume active" : "nav-link volume", :id => "volume-#{volume.id}", :remote => true do
              = volume.title
            - unless volume.posts.count > 0
              = link_to admin_book_volume_path(@book, volume), "data-remote" => "true", :method => :delete, :class => 'delete-volume' do
                %i.fa.fa-times
        - if @volumes.empty?
          %li.nav-item.plus
            = link_to nil, :class => "nav-link disabled active", :id => "addVolume" do
              %i.fa.fa-plus
              创建分卷
        - else
          %li.nav-item.plus
            = link_to nil, :class => "nav-link disabled sort-disabled", :id => "addVolume" do
              %i.fa.fa-plus
        = form_for @new_volume, :url => admin_book_volumes_path(@book) do |f|
          = f.hidden_field :title
    .card-body.book-chapter-container
      = render "admin/volumes/information"
