.row
  .col-md-8.col-md-offset-2
    .book-dashboard
      .book-info
        %h1= @book.title
        %p= @book.description
      .book-content
        .book-volumes
          %ul
            - @volumes.each do |volume|
              .volume-drag{:id => "drag-volume-#{volume.id}"}
              %li.volume{:id => "volume-#{volume.id}", :draggable => "true"}
                = link_to admin_book_volume_path(@book, volume), :remote => true do
                  = volume.title
                - unless volume.posts.count > 0
                  = link_to admin_book_volume_path(@book, volume), :method => :delete, :remote => true, :class => 'delete_volume' do
                    %i.fa.fa-times
            %li.plus#addVolume
              %i.fa.fa-plus
            = form_for @volume, :url => admin_book_volumes_path(@book) do |f|
              = f.hidden_field :title
        .book-chapter-container
          - unless @volumes.empty?
            .book-volume-info
              %p.volume-description{"data-volume" => @volumes.first.id}= @volumes.first.description
          .row
            .add-chapter.pull-right
              = link_to new_admin_book_post_path(@book, :volume_id => @volumes.first), :class => "btn btn-default btn-bg" do
                %i.fa.fa-plus
                添加文章
          .book-chapters
            %ul.chapter-list
              - @posts.each do |post|
                .post-drag{:id => "drag-post-#{post.id}"}
                %li.chapter{:id => "post-#{post.id}", :draggable => "true"}
                  = post.title
                  .chapter-btns.pull-right
                    = link_to edit_admin_book_post_path(post) do
                      %i.fa.fa-pencil
                    = link_to admin_book_post_path(post), :method => :delete do
                      %i.fa.fa-trash

