.mt-4.container
  .alert.alert-info
    %h4.alert-title
      Welcome back! 
      %button.close{:type => "button", "data-dismiss" => "alert", "aria-label" => "Close" }
        %span{"aria-hidden" => "true"} × 
    %p.mb-0 Aww yeah, you successfully read this important alert message. This example text is going to run a bit longer so that you can see how spacing within an alert works with this kind of content.
  .card-deck
    - 4.times do
      .card
        .card-body
          %h4.card-title Title
          %p.card-text.text-secondary Fast and searchable Ruby documentation for core, standard libraries, and rubygems. Available in both RDoc and Yard format.
          = link_to "Read More", nil, :class => "btn btn-outline-primary"
  %nav.mt-4
    %ul.pagination.justify-content-end
      %li.page-item.disabled
        = link_to nil, :class => "page-link" do
          Previous
      %li.page-item.active
        = link_to nil, :class => "page-link" do
          1
      %li.page-item
        = link_to nil, :class => "page-link" do
          2
      %li.page-item
        = link_to nil, :class => "page-link" do
          3
      %li.page-item
        = link_to nil, :class => "page-link" do
          Next
