.container.mt-4
  .row
    .col-md-8.offset-md-2
      %h3.mb-3 Information
      %hr
      .form-group.row
        = label_tag :name, "Name", :class => "col-sm-2 col-form-label"
        .col-sm-10
          = text_field_tag :name, nil, :class => "form-control", :placeholder => "text input"
      .form-group.row
        = label_tag :name, "Email", :class => "col-sm-2 col-form-label"
        .col-sm-10
          = email_field_tag :email, nil, :class => "form-control", :placeholder => "email input"
      .form-group.row
        = label_tag :name, "Url", :class => "col-sm-2 col-form-label"
        .col-sm-10
          = url_field_tag :url, nil, :class => "form-control", :placeholder => "url input"
      .form-group.row
        = label_tag :name, "Introduction", :class => "col-sm-2 col-form-label"
        .col-sm-10
          = text_area_tag :introduction, nil, :class => "form-control", :placeholder => "textarea", :rows => "5"
      .form-group.row
        = label_tag :avatar, "Avatar", :class => "col-sm-2 col-form-label"
        .col-sm-10
          //= file_field_tag :introduction, :class => "form-control", :placeholder => "file input", :rows => "5"
          .uploader-img
      = submit_tag "Submit", :class => "btn btn-primary"
