.form-group.row
  = f.label :name, :class => "col-sm-2 col-form-label"
  .col-sm-10
    = f.text_field :name, :class => input_class(@author, :name), :placeholder => "Name", :required => true
    - if is_invalid?(@author, :name)
      = invalid_message(@author, :name)
.form-group.row
  = f.label :birthday, :class => "col-sm-2 col-form-label"
  .col-sm-10
    = f.date_field :birthday, :class => "form-control", :placeholder => "YY-mm-dd"
.form-group.row
  = f.label :url, :class => "col-sm-2 col-form-label"
  .col-sm-10
    = f.url_field :url, :class => "form-control", :placeholder => "http://"
.form-group.row
  = f.label :introduction, :class => "col-sm-2 col-form-label"
  .col-sm-10
    = f.text_area :introduction, :class => "form-control", :placeholder => "简要介绍一下自己吧", :rows => "5"
.form-group.row
  = f.label :file_avatar, :class => "col-sm-2 col-form-label"
  .col-sm-10
    = f.file_field :file_avatar, :class => "form-control"
    = f.hidden_field :file_avatar_cache
    - unless @author.file_avatar.blank?
      = image_tag @author.file_avatar.thumb.url, :class => "mt-2"
      %br
      %label.custom-control.custom-checkbox
        = f.check_box :remove_file_avatar, :class => "custom-control-input"
        %span.custom-control-indicator
        %span.custom-control-description 移除头像
= submit_tag "提交", :class => "btn btn-primary"
