.modal#author{:role => "dialog"}
  .modal-dialog{:role => "document"}
    .modal-content
      .carousel.slide#authorProgress{"data-ride" => "carousel"}
        .carousel-inner
          .carousel-item#step-1
            .modal-header
              %h5 首先，你得有个名字吧！
            = form_for @author, :url => admin_authors_path, :remote => true do |f|
              .modal-body
                .form-group
                  = f.label :name, :placeholder => "Your Name"
                  = f.text_field :name, :class => input_class(@author, :name), :placeholder => "Name", :required => true
            .modal-footer
              = submit_tag "填完了，下一步！", :class => "btn btn-primary"
          .carousel-item#step-2.active
            .modal-header
              %h5 然后，选个头像！
            .modal-body
              .author-avatar
                - (0..9).each do |i|
                  %label.custom-control.custom-radio
                    = radio_button_tag 'avatar', i, false, :class => "custom-control-input img-radio"
                    //%span.custom-control-indicator
                    %span.custom-control-description
                      = image_tag "avatar/" + i.to_s + ".png", :width => 50, :height => 50
            .modal-footer
              = link_to "选好了，继续！", nil, :class => "btn btn-primary"
          .carousel-item#step-3
            .modal-header
              %h5 还有一些信息要填!
            #extraInfo
