.container
  .row
    .col-md-8.col-md-offset-2
      .row
        .col-md-4
          .book-card.book-card-new
            %span.plus.plus-row
            %span.plus.plus-col
        .col-md-4
          = link_to nil do
            .book-card
              %h3.book-card-title 程序员笔记
              %p.book-card-description 当个程序员，其实也挺有意思的……
        .col-md-4
          = link_to nil do
            .book-card
              %h3.book-card-title 程序员笔记
              %p.book-card-description 当个程序员，其实也挺有意思的……
        .col-md-4
          = link_to nil do
            .book-card
              %h3.book-card-title 程序员笔记
              %p.book-card-description 当个程序员，其实也挺有意思的……
        .col-md-4
          = link_to nil do
            .book-card
              %h3.book-card-title 程序员笔记
              %p.book-card-description 当个程序员，其实也挺有意思的……
        .col-md-4
          = link_to nil do
            .book-card
              %h3.book-card-title 程序员笔记
              %p.book-card-description 当个程序员，其实也挺有意思的……
