.container-fluid
  .row
    .col-md-8.col-md-offset-2
      .book-dashboard
        .book-info
          %h1 Book Title
          %p book description
        .book-content
          .book-volumes
            %ul
              %li.active 分卷一
              %li 分卷二
              %li 分卷三
              %li 分卷四
              %li.plus
                %i.fa.fa-plus
          .book-chapter-container
            .book-volume-info
              %p Volume description
            .row
              .add-chapter.pull-right
                = link_to nil, :class => "btn btn-default btn-bg" do
                  %i.fa.fa-plus
                  添加文章
            .book-chapters
              %ul.chapter-list
                - (1..20).each do |i|
                  %li.chapter
                    = "Chapter #{i} : Hello World!"
                    .chapter-btns.pull-right
                      = link_to nil do
                        %i.fa.fa-pencil
                      = link_to nil do
                        %i.fa.fa-trash
