.container
  .row
    .col-md-8.col-md-offset-2
      = form_tag nil, :class => "editor" do
        .current-book
          %i.fa.fa-book
          = link_to "book", nil, :class => "current-book-title"
          %span 
            volume
            %i.fa.fa-angle-down
        .text-editor
          .editor-tools
            %ul
              %li
                %i.fa.fa-bold
              %li
                %i.fa.fa-font
              %li
                %i.fa.fa-italic
              %li
                %i.fa.fa-align-left
              %li
                %i.fa.fa-align-center
              %li
                %i.fa.fa-align-right
              %li
                %i.fa.fa-list-ul
              %li
                %i.fa.fa-list-ol
              %li
                %i.fa.fa-quote-left
              %li
                %i.fa.fa-header
              %li
                %i.fa.fa-underline
              %li
                %i.fa.fa-link
              %li
                %span.glyphicon.glyphicon-indent-left
              %li
                %span.glyphicon.glyphicon-picture
          = text_field_tag "title", nil, :class => "editor-title", :placeholder => "这里是文章标题" 
          = text_area_tag "content", nil, :class => "editor-area", :placeholder => "这里是文章内容"
        .editor-buttons
          = submit_tag "保存", :class => "btn btn-default editor-submit"
          = submit_tag "发布", :class => "btn btn-default editor-submit"

