.form-group
  = f.text_field :title, :class => input_class(@post, :title), :placeholder => "Your Title"
  - if is_invalid?(@post, :title)
    = invalid_message(@post, :title)
.form-group
  = f.text_area :content, :class => "form-control editor", "data-autosave" => @post.id ? "editor-content" + @post.id.to_s : "editor-content-new-" + @book.id.to_s , :row => "20", :placeholder => "Content here!"
  - if is_invalid?(@post, :content)
    = invalid_message(@post, :content)
.form-group
  = f.label :volume_id
  = f.select :volume_id, get_volumes, {}, :class => "form-control" 
.form-group
  %label.custom-control.custom-checkbox
    = f.check_box :status, :class => "custom-control-input"
    %span.custom-control-indicator
    %span.custom-control-description.mr-2 直接发布
    %small.form-text.text-muted 未发布的文章将不会在前台显示
= f.submit "保存", :class => "btn btn-primary mr-2"
= link_to "取消", admin_book_path(@book, :volume => @post.volume || params[:volume_id]), :class => "btn btn-secondary"
