.container.mt-4
  .row
    .col-md-10.offset-md-1
      %nav.mb-3{"aria-label" => "breadcrumb", :role => "navigation"}
        %ol.breadcrumb
          %li.breadcrumb-item
            = link_to "书籍管理", admin_books_path(@book)
          %li.breadcrumb-item
            = link_to @book.title, admin_book_path(@book)
          %li.breadcrumb-item.active{"aria-current" => "page"}= @post.title
      %h2.mb-3= @post.title
      .post-content
        = raw @post.content
