= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
  .form-group.input-group
    = f.email_field :email, autofocus: true, :class => "form-control", :required => true
    = f.label :email, :class => "input-label"
    %span.form-group-focus
  .form-group.input-group
    = f.password_field :password, autocomplete: "off", :class => "form-control", :required => true
    = f.label :password, :class => "input-label"
    %span.form-group-focus
  - if devise_mapping.rememberable?
    .form-group.last
      .custom-control.custom-checkbox
        = f.check_box :remember_me, :class => "custom-control-input"
        = f.label :remember_me, :class => "custom-control-label"
  .form-group.mb-3
    = f.submit "登陆", :class => "btn btn-primary btn-block"
  = render "devise/shared/links"
