%h1.text-center.mb-5.text-secondary.font-weight-normal
  = image_tag "logo.svg", :width => "80", :height => "80", :class => "align-bottom"
  Start for Writing?
.card.w-50.border-0.shadow
  .d-flex
    .login-left.w-40.rounded-left
      .login-words.w-100.h-100.p-4.text-right.d-flex.rounded-left
        .align-self-end.w-100
          %p 生活就是
          %p 一本书
          %p 一壶茶
          %p 一个阳光明媚的下午
    .card-body.w-60.pt-5.pl-5.pr-5.pb-3
      = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
        .form-group
          = f.email_field :email, autofocus: true, :class => "form-control", :placeholder => "Email"
        .form-group
          = f.password_field :password, autocomplete: "off", :class => "form-control", :placeholder => "Password"
        - if devise_mapping.rememberable?
          %label.custom-control.custom-checkbox
            = f.check_box :remember_me, :class => "custom-control-input"
            %span.custom-control-indicator
            %span.custom-control-description 记住我
        .form-group.mb-1
          = f.submit "登陆", :class => "btn btn-primary btn-block"
        = render "devise/shared/links"
