- provide :title, "书架"

.container.mt-4
  - if @books.size == 0
    .d-flex.w-100.align-items-center.justify-content-center.mt-5.pt-4.book-blank-slate
      .text-center
        %span.iconfont.icon-book1.fa-4x.text-muted
        %p.text-muted.lead.mt-3 Nothing here!
        = link_to "Create your new book!", "#", "data-toggle" => "modal", :id => "btnNewBook", "data-target" => "#newBookModal", :class => "btn btn-secondary"
  - else
    .row.mt-5
      - @books.each do |book|
        .col-md-3.mb-3.book-col
          .card.book-card.border-light
            = link_to manage_book_path(book), :class => "d-block w-100 h-100" do
              .card-body.d-flex.flex-column.w-100.h-100
                %h4.card-title= book.title
                %p.card-text.text-secondary.flex-1= truncate(book.description, length: 50, omission: "...")
                %small.text-muted
                  更新于
                  = last_updated(book)
            - unless book.posts.count > 0
              = link_to "", manage_book_path(book), "data-remote" => "true", :method => :delete, :class => 'close-icon delete-book'
      .col-md-3.mb-3.add-book-col{:class => current_user.author.can_create_book? ? "" : "d-none"}
        = link_to "#", "data-toggle" => "modal", :id => "btnNewBook", "data-target" => "#newBookModal" do
          .card.book-card.d-table.w-100.border-light
            .card-body.text-center.d-table-cell.h-100.align-middle
              .card-book-plus
                %span.plus-col
                %span.plus-row
.modal.fade#newBookModal{:role => "dialog", "aria-labelledby" => "btnNewBook", "aria-hidden" => "true"}
  .modal-dialog{:role => "document"}
    .modal-content
      .modal-header
        %h5.modal-title 新建书籍
      = form_for @book, :url => manage_books_path, :remote => true do |f|
        .modal-body
          .form-group.input-group.mt-2
            = f.text_field :title, :class => "form-control", :required => true
            = f.label :title, "书名", :class => "input-label"
            %span.form-group-focus
          .form-group.input-group
            = f.text_area :description, :class => 'form-control', :rows => "5", :required => true
            = f.label :description, "摘要", :class => "input-label"
            %span.form-group-focus
        .modal-footer
          = f.submit "提交", :class => 'btn btn-primary', :data => {"disable-with" => "保存中..."}

= javascript_pack_tag "bookshelf.js"
        

