.container-fluid.pt-3.pb-3.bg-white
  .container
    .row
      .col-md-10.offset-md-1
        %nav.editor-nav
          %ol.breadcrumb.mb-0
            %li.breadcrumb-item
              %i.fa.fa-book.mr-1.text-primary
              = link_to @book.title, manage_book_path(@book)
            - if params[:volume_id] or @post.volume
              %li.breadcrumb-item
                = f.select :volume_id, get_volumes, {}, :class => "editor-select-volume"
        .editor-title
          = f.text_field :title, :class => "editor-input", :placeholder => "Your Title", :autocomplete => false
        #editorContainer.editor-content
          = @post.content.html_safe unless @post.content.blank?
        = f.hidden_field :content
.editor-infos
  .custom-control.custom-checkbox
    = f.check_box :status, :class => "custom-control-input"
    = f.label :status, "直接发布", :class => "custom-control-label custom-toggle-label"
= f.submit "保存", :class => "btn btn-primary mr-2 editor-submit", :data => {"disable-with" => "保存中..."}
