.row
  - if @volume
    .col-md-10
      .book-volume-info
        - if @volume.description.blank?  
          %p.card-text.text-muted.volume-description#volumeDescription{"data-url-updatedescription" => update_description_manage_book_volume_path(@book, @volume)} 双击可添加描述
        - else
          %p.card-text.text-secondary.volume-description{"data-volume" => @volume.id}= @volume.description
  .col-md-2
    .add-chapter.text-right
      = link_to new_manage_book_post_path(@book, :volume_id => @volume), :class => "btn btn-outline-primary" do
        %span.icon-quill
        撰写文章
%ul#sortableList.list-group.sortable-list.mt-4
  - @posts.each do |post|
    %li.list-group-item{:id => "post-#{post.id}"}
      .post-handle.float-left.mr-2
        -#
          %i.fa.fa-arrows-alt.post-handle.mr-2.text-muted
      = post.title
      .float-right
        = link_to release_manage_book_post_path(@book, post), :class => "btn btn-outline-success btn-sm rounded-circle mr-2 release-post" + ( post.status == 0 ? "" : " d-none"), :title => "发布", "data-toggle" => "tooltip", "remote" => true do
          %span.icon-repo-push
        = link_to withdraw_manage_book_post_path(@book, post), :class => "btn btn-outline-warning btn-sm rounded-circle mr-2 post-withdraw" + ( post.status == 1 ? "" : " d-none"), :title => "撤回", "data-toggle" => "tooltip", "remote" => true do
          %span.icon-repo-pull
        = link_to edit_manage_book_post_path(@book, post), :class => "btn btn-outline-primary btn-sm rounded-circle mr-2", :title => "修改", "data-toggle" => "tooltip" do
          %span.icon-pencil
        = link_to manage_book_post_path(@book, post), :class => "btn btn-outline-danger btn-sm rounded-circle delete-post", :method => :delete, :title => "删除", "data-toggle" => "tooltip", "remote" => true do
          %span.icon-bin
      //%p.text-muted= truncate(strip_tags(post.content), length: 100, omission: "...")
