!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1"}
    %meta{"http-equiv" => "X-UA-Compatible", :content => "IE=edge"}
    %title= "Demo"
    = stylesheet_link_tag    'application', media: 'all'
    = csrf_meta_tags
  %body{:class => namespace_controller_name}
    = render "layouts/header"
    .container-fluid.pt-5.main
      .row
        .col-md-2
          = render "layouts/sidebar"
        .col-md-10
          = render "layouts/flash"
          = yield
    = render "layouts/footer"
    = javascript_include_tag 'application'
