!!!
%html
  %head
    %title BookApp
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body.login-bg
    .d-flex.flex-column.w-100.h-100.align-items-center.justify-content-center.login-mask
      = yield
      = render 'layouts/flash'
