!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1"}
    %meta{"http-equiv" => "X-UA-Compatible", :content => "IE=edge"}
    %title= yield(:title)
    = stylesheet_link_tag    'application', media: 'all'
    //= javascript_include_tag 'application'
    = csrf_meta_tags
  %body{:class => namespace_controller_name + " " + params[:action]}
    = render "layouts/header"
    .container-fluid.pt-5.pb-3.flex-1.h-100
      -#
        .row
          .col-md-2.col-sm-3.sidebar.bg-white
            = render "layouts/sidebar"
          %main.col-md-10.col-sm-9.ml-sm-auto
      = yield
    //= render "layouts/footer"
    = render "layouts/flash"
    = javascript_pack_tag 'application'
